asgiref==3.5.2
astroid==2.12.12
certifi==2022.9.24
colorama==0.4.6
dill==0.3.6
Django==4.1.2
django-autoslug==1.9.8
django-ckeditor==6.5.1
django-ckeditor-5==0.2.1
django-js-asset==2.0.0
django-environ==0.9.0
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
Pillow==9.3.0
platformdirs==2.5.2
pylint==2.15.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
sqlparse==0.4.3
tomlkit==0.11.6
tzdata==2022.5
urllib3==1.26.12
wrapt==1.14.1
#crispy_forms==1.14.0
sentry-sdk==1.12.1
django-mysql==3.8.1
