<div class="col-sm-3">
    <h2>Welcome back {{request.user}}!</h2>
    <div class="card mb-3" >
        <div class="card-header">
        Menu
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
           <a href="{% url 'profile-update' %}">Profile</a></li>
        <li class="list-group-item">Create a content</li>
        <li class="list-group-item"><a href="{% url 'myspace' %}"> Myspace</a></li>
        <li class="list-group-item">Friends</li>
        <li class="list-group-item">
            <a href="{% url 'logout' %}">Log out</a></li>
        <li class="list-group-item">
            <a href="{% url 'reset-password' %}">Reset Password</a></li>
        </ul>
    </div>
</div>
